@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(material-icons.woff2) format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased
}

input[type=text]:focus {
    border-bottom: 1px solid #1a237e !important;
    box-shadow: 0 1px 0 0 #1a237e !important
}

.card-panel {
    position: relative
}

.left-div {
    width: 10px;
    height: 100%;
    top: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.left-div {
    left: 0;
    position: absolute
}

.left-div-margin {
    padding-left: 29px !important
}